body {
 background: #2c2f33 url(https://discordapp.com/assets/530280c4e76a27a6dd43c0ecabb96e7d.png) fixed;
 }

 .row {


     height: 100%
 	weight: 100%;
 }
 .input-field {
     color: #FFFFFF;
      	position: absolute;
    top: 110%;
    left: 100%;
    transform: translate(50%, -60%);
  }
  .valvue {
  	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 70%);
  } 
